{% macro body(page, sidebar_obj) %}
<body>
	{# <div id="loader-wrapper">
		<img src="{{ site.baseurl }}public/images/CPP_Logo.svg" alt="C++ Logo" class="loader-img">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div> #}

	<div class='layout'>
		{% import 'imports/sidebar.html' as sidebar %} {{ sidebar.sidebar(sidebar_obj) }}

		<nav class='topbar'>
			<ul class='menu'>
				<li class='button'><a href='/'>HOME</a></li>
				<li class='button'><a href='/index'>INDEX</a></li>
				<li class='button'><a href='/faq'>FAQ</a></li>
				<li class='button'><a href='/about'>ABOUT</a></li>
				<li class='button menu-button'>
					<div class="menu-icon">
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
					</div>
				</li>
			</ul>
		</nav>

		<div class='container'>
			{% if page.metadata.has_breadcrumb() %}
				<nav class='breadcrumb'>
					<ol>
						<li><a href='/index'>index</a></li>
						<span>/</span>
						{% for b in page.metadata.breadcrumb() %}
							<li><a href="{{ b.link() }}">{{ b.name() }}</a></li>
							<span>/</span>
						{% endfor %}
						<li>{{ page.title() }}</li>
					</ol>
				</nav>
			{% endif %}
			<div class='content'>
				<h1>{{ page.title() }}</h1>{# TODO add author date etc #}
				{{ page.text() }}
			</div>
		</div>
	</div>

	{# {% import 'imports/footer.html' as footer %} {{ footer.footer() }} #}
</body>
{% endmacro %}
