{% macro head(page_title) %}
<head>
	<meta charset="utf-8"/>

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

	<title>modern C++ by Xeverous - {{ page_title }}</title>

	<link rel="icon" href="favicon.png"/>

	<!-- RSS -->
	{# TODO: enable/configure RSS in Nikola, this link is dead currently #}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"/>

	<!-- CSS -->
	<link rel='stylesheet' href='/assets/css/styles.css'/>

	<!-- JS -->
	<script type="text/javascript" src="/assets/js/app.js" defer="defer"></script>

	<!-- maybe later
	<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']]
    },
    showMathMenu: false,
    menuSettings: {
      zoom: "None",
      collapsible: false,
      autocollapse: false,
      explorer: false
    }
  });
        </script>
	<script type="text/javascript" async
		src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"
		async></script>
	-->
</head>
{% endmacro %}
