{% macro sidebar() %}
<div class="sidebar">

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <p>Phasellus sed placerat lacus.</p>

  <p>In consequat volutpat turpis.</p>

  <p>Proin placerat, diam et ullamcorper bibendum, velit nulla varius quam, non mattis arcu magna eu odio.</p>

  <p>Nulla nec tincidunt odio.</p>

  <p>Phasellus felis dui, consectetur nec faucibus et, tempor non lorem.</p>

  <p>Aenean sodales sapien sed dolor tincidunt suscipit id ac dolor.</p>

  <p>Fusce in ornare lectus.</p>

  <p>Phasellus a magna varius, luctus purus in, mattis enim.</p>

  <p>Nunc vitae iaculis nulla.</p>

  <p>Proin in pharetra metus, vel accumsan ipsum.</p>

  <p>Nunc tempus diam aliquet, gravida nisl sit amet, vestibulum velit.</p>

  <!-- this whole file needs cleanup -->
  {#
  <div class="row">
    <div class="col text-left">
      <a class="text-left" href="#mmenu">
        <button class="hamburger hamburger--spring" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </a>
    </div>

    <div class="col text-center">
      <div class="menu-text">menu</div>
    </div>

    <div class="col text-right">
        <a class="back-to-home" href="/">
          <i class="fas fa-home"></i>
        </a>
    </div>
  </div>

  <div id="mmenu">
     {% include sidebar.html nav=site.data.navigation.data url="/content/" %}
  </div>
  #}
</div>
{% endmacro %}
