{% macro sidebar(sidebar_obj) %}
<nav class='sidebar'>
	<ul>
		<li class="sidebar-section">
			<ul>
				{# TODO add some icons/images for these links #}
				<li><a href="/">HOME</a></li>
				<li><a href="/index">INDEX</a></li>
			</ul>
		</li>

		{% for section in sidebar_obj.sections() %}
			<li class="sidebar-section">
				<h4 class="sidebar-section-title">{{ section.title() }}</h4>
				<p class="sidebar-section-description">{{ section.description() }}</p>

				<ul>
					{% for page in section.pages() %}
						<li><a href="{{ page.link() }}">{{ page.title() }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
</nav>
{% endmacro %}
