/*
 * Note: once we have enough content, remove height properties
 * from all elements - they are now only to see some boxes
 * when no content is yet present.
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #ffffff;
	background-color: #000000;
	font-family: Ubuntu, Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	line-height: 1.5;
	font-size: 1rem;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

ol, ul {
	display: block;
	padding-left: 40px;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

p {
	margin-bottom: 1rem;
}

table {
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
	background-color: #212529;
}

table td, table th {
	padding: .25rem .5rem;
	border: 1px solid #32383e;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #2c343b;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #ffe55d;
}

a:hover, a:active {
	color: #ffff5d;
}

.layout {
	display: flex;
	justify-content: center;
}

.topbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: stretch;

	background-color: #000;
	border-bottom: white solid 1px;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: inherit;
}

ul.menu, ol.menu {
	padding: 0;
}

.menu li {
	list-style: none;
	flex: 1;
	text-align: center;
	height: 100%;
	border-right: white solid 1px;
}

.menu li:last-of-type {
	border: none;
}

.menu li:hover, .menu li:active {
	background-color: #7a6600;
}

.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button a {
	display: block;
	width: 100%;
	height: 100%;
	padding: .5rem;
}

.menu-icon {
	display: inline-block;
}

.bar1, .bar2, .bar3 {
	width: 1.5rem;
	height: 3px;
	background-color: #ffe55d;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-7px, -7px);
}

.sidebar {
	position: fixed;
	width: 80%;
	left: -100vh;
	height: 100%;
	top: 0;
	background: #777;
	transition: left 100ms ease-in-out;
	z-index: 1;
	overflow: auto;
}

.sidebar.show {
	left: 0vw;
}

.sidebar ul {
	display: flex;
	flex-flow: column;
	list-style-type: none;
	height: 100%;
	margin-top: 0;
}

.container {
	max-width: 800px;
	margin-top: 2rem;
}

.content {
	background-color: #2d2d2d;
	padding: 20px 20px;
	border-radius: 10px;
	color: #fff;
}

.footer {
	clear: both;
	overflow: hidden;
	background-color: #D6E9FE;
}

.footer-item {
	float: left;
	width: 31%;
	margin: 20px 1.15%;
	height: 160px;
	background-color: #B2D6FF;
}

@media (min-width: 768px) {
	.topbar {
		display: none;
	}

	.sidebar {
		position: relative;
		left: unset;
		height: 100%;
		width: 30%;
		min-width: 200px;
	}

	.container {
		margin: 0;
	}

	.content {
		margin: 20px;
	}
}
