* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
	color: #ffffff;
	background-color: #000000;
	font-family: Ubuntu, Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	line-height: 1.5;
	font-size: 1rem;
}

img {
	max-width: 100%;
	display: inline-block;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

ol, ul {
	display: block;
	padding-left: 40px;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

p {
	margin-bottom: 1rem;
}

table {
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
	background-color: #212529;
}

table td, table th {
	padding: .25rem .5rem;
	border: 1px solid #32383e;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #2c343b;
}

a {
	text-decoration: none;
}

blockquote {
	border-left: .25rem solid #afb1b4;
	padding: 0 1rem;
}

code {
	padding: 0.25rem 0.25rem;
	border-radius: 0.5rem;
}

code, .code {
	background-color: #000000;
	font-family: 'Consolas', 'Lucida Console', monospace;
	font-weight: bold;
}

table.codetable {
	line-height: 1.2rem;
}

tbody tr:nth-child(odd) td.code, table tr:nth-child(odd) th.code {
	background-color: #000000;
	padding: 0;
	border: none;
}

tbody td.linenos {
	text-align: right;
}

a:link, a:visited {
	color: #ffe55d;
}

a:hover, a:active {
	color: #ffff5d;
}

details {
  margin: 0 auto;
  background: rgb(56, 56, 56);
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: rgb(56, 56, 56);
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.layout {
	display: flex;
	justify-content: center;
}

.topbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: stretch;

	background-color: #000;
	border-bottom: white solid 1px;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: inherit;
}

ul.menu, ol.menu {
	padding: 0;
}

.menu li {
	list-style: none;
	flex: 1;
	text-align: center;
	height: 100%;
	border-right: white solid 1px;
}

.menu li:last-of-type {
	border: none;
}

.menu li:hover, .menu li:active {
	background-color: #7a6600;
}

.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button a {
	display: block;
	width: 100%;
	height: 100%;
	padding: .5rem;
}

.menu-icon {
	display: inline-block;
}

.bar1, .bar2, .bar3 {
	width: 1.5rem;
	height: 3px;
	background-color: #ffe55d;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-7px, -7px);
}

.sidebar {
	position: fixed;
	width: 80%;
	left: -100vh;
	height: 100%;
	top: 0;
	padding: 20px 20px;
	background: #383838;
	transition: left 100ms ease-in-out;
	z-index: 1;
	overflow: auto;
}

.sidebar.show {
	left: 0vw;
}

.sidebar ul {
	display: flex;
	flex-flow: column;
	list-style: none;
	padding-left: 0;
	height: 100%;
	margin-top: 0;
}

.sidebar-section-description {
	font-style: italic;
	font-size: 0.75em;
	margin-bottom: 5px;
}

.container {
	min-width: 50%;
	max-width: 800px;
	margin-top: 4rem;
}

nav.breadcrumb {
	background-color: #1c1c1c;
	border: 1px solid #3c3c3c;
	border-radius: .25rem;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
}

.breadcrumb ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-weight: 800;
}

.breadcrumb span {
	padding: 0 10px;
}

.content {
	background-color: #262626;
	padding: 20px 20px;
	border-radius: 10px;
	color: #fff;
}

.admonition {
	padding: 0.5rem;
	box-shadow: 0.25rem 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	box-sizing: border-box;
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.admonition > p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.admonition.definition {
	background-color: #500050;
}

.admonition.tip {
	background-color: #9e8042;
}

.admonition.success {
	background-color: #408000;
}

.admonition.note {
	background-color: #2c4486;
}

.admonition.warning {
	background-color: #de8909;
}

.admonition.error {
	background-color: #e02300;
}

.footnote-reference {
	vertical-align: super;
	font-size: smaller;
}

.footer {
	clear: both;
	overflow: hidden;
	background-color: #000000;
	font-size: 0.75rem;
	border-top: #ffffff 1px solid;
	display: flex;
	justify-content: space-around;
}

.footer-item {
	width: 46%;
	margin: 20px 1.15%;
}

.footer-item-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (min-width: 768px) {
	html {
		font-size: 20px;
	}

	.topbar {
		display: none;
	}

	.sidebar {
		position: relative;
		left: unset;
		height: 100%;
		width: 30%;
		min-width: 200px;
	}

	.container {
		margin: 0;
	}

	.breadcrumb, .content {
		margin: 20px;
	}
}

/* custom vibrant ink theme - mostly for C++ */

.code.custom-cpp              { color: #ffffff } /* default color */
.code.custom-cpp .keyword     { color: #ec691e } /* keywords */
.code.custom-cpp .namespace,                     /* namespace names */
.code.custom-cpp .type        { color: #9cf828 } /* classes, structs, unions, enum types, type aliases, etc */
.code.custom-cpp .enum        { color: #408000 } /* enum values */
.code.custom-cpp .ext         { color: #ffffff } /* externals */
.code.custom-cpp .oo,                            /* overloaded operators */
.code.custom-cpp .pref,                          /* literal prefix */
.code.custom-cpp .suf         { color: #ffffff } /* literal suffix */
.code.custom-cpp .func        { color: #f7c527 } /* function/method calls and declarations */
.code.custom-cpp .label       { color: #ffffff } /* labels (jump places in assembly and for goto) */
.code.custom-cpp .num,                           /* numeric literals */
.code.custom-cpp .str,                           /* string literals */
.code.custom-cpp .chr,                           /* character literals */
.code.custom-cpp .var-local,                     /* function-local variables */
.code.custom-cpp .var-member  { color: #319bbe } /* fields - class member variables */
.code.custom-cpp .var-global  { color: #ffffff } /* global objects (including static) */
.code.custom-cpp .str-esc,                       /* string literals (escaped content) */
.code.custom-cpp .chr-esc     { color: #868613 } /* character literals (escaped content) */

.code.custom-cpp .param       { color: #408000 } /* parameters (to functions) */
.code.custom-cpp .mparam      { color: #c86496 } /* mutable parameters (passed by non-const reference) */
.code.custom-cpp .tparam,                        /* template parameters */
.code.custom-cpp .concept     { color: #ffaf7b } /* C++ concept (constrained template) */
.code.custom-cpp .problem     { color: #ff0000 } /* compiler errors etc */

.code.custom-cpp .com-single     { color: #af47ff } /* single-line comment */
.code.custom-cpp .com-multi      { color: #be68ff } /* multi-line comment */
.code.custom-cpp .com-tag        { color: #c402c4 } /* tags in comments, eg @todo */
.code.custom-cpp .com-single-dox,                   /* Doxygen single-line comment */
.code.custom-cpp .com-multi-dox  { color: #4b71e3 } /* Doxygen multi-line comment */
.code.custom-cpp .com-tag-dox    { color: #c402c4 } /* Doxygen tag in comment */

.code.custom-cpp .pp-direct   { color: #ec691e } /* preprocessor directives (includes, pragmas, etc) */
.code.custom-cpp .pp-header   { color: #319bbe } /* preprocessor header names */
.code.custom-cpp .pp-other    { color: #ffffff } /* other preprocessor instructions */
.code.custom-cpp .macro-def   { color: #f7c527 } /* macro definitions */
.code.custom-cpp .macro-ref   { color: #ffffff } /* macro references */
.code.custom-cpp .asm-direct  { color: #ec691e } /* directives in assembly */

/*
 * styles for ANSI-escaped text
 * https://en.wikipedia.org/wiki/ANSI_escape_code#SGR_(Select_Graphic_Rendition)_parameters
 * https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
 * https://github.com/pycontribs/ansi2html/blob/1ca0e862dda765c55e9124bf50a06a3e2f769521/ansi2html/style.py
 *
 * normally ansi1 does font-weight: bold but rules have been changed to use bright colors instead
 */

.ansi { color: #bbbbbb; }
.ansi1 { color: #ffffff; }
.ansi2 { font-weight: lighter; }
.ansi3 { font-style: italic; }
.ansi4 { text-decoration: underline; }
.ansi5 { text-decoration: blink; }
.ansi6 { text-decoration: blink; }
.ansi8 { visibility: hidden; }
.ansi9 { text-decoration: line-through; }

/* colors used by PuTTY */

.ansi30 { color: #000000; } /* black */
.ansi31 { color: #bb0000; } /* red */
.ansi32 { color: #00bb00; } /* green */
.ansi33 { color: #bbbb00; } /* yellow */
.ansi34 { color: #0000bb; } /* blue */
.ansi35 { color: #bb00bb; } /* magenta */
.ansi36 { color: #00bbbb; } /* cyan */
.ansi37 { color: #bbbbbb; } /* white */

.ansi90, .ansi1.ansi30 { color: #555555; } /* black */
.ansi91, .ansi1.ansi31 { color: #ff5555; } /* red */
.ansi92, .ansi1.ansi32 { color: #55ff55; } /* green */
.ansi93, .ansi1.ansi33 { color: #ffff55; } /* yellow */
.ansi94, .ansi1.ansi34 { color: #5555ff; } /* blue */
.ansi95, .ansi1.ansi35 { color: #ff55ff; } /* magenta */
.ansi96, .ansi1.ansi36 { color: #55ffff; } /* cyan */
.ansi97, .ansi1.ansi37 { color: #ffffff; } /* white */

.ansi40 { background-color: #000000; } /* black */
.ansi41 { background-color: #bb0000; } /* red */
.ansi42 { background-color: #00bb00; } /* green */
.ansi43 { background-color: #bbbb00; } /* yellow */
.ansi44 { background-color: #0000bb; } /* blue */
.ansi45 { background-color: #bb00bb; } /* magenta */
.ansi46 { background-color: #00bbbb; } /* cyan */
.ansi47 { background-color: #bbbbbb; } /* white */

.ansi100 { background-color: #555555; } /* black */
.ansi101 { background-color: #ff5555; } /* red */
.ansi102 { background-color: #55ff55; } /* green */
.ansi103 { background-color: #ffff55; } /* yellow */
.ansi104 { background-color: #5555ff; } /* blue */
.ansi105 { background-color: #ff55ff; } /* magenta */
.ansi106 { background-color: #55ffff; } /* cyan */
.ansi107 { background-color: #ffffff; } /* white */
